{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}
{% block stylesheets %}
<link href="{{ asset('/css/register.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
<div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
    <div class="wrapper wrapper--w960">
        <div class="card card-2">
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="title">Reinitialisation</h2>

                {{ form_start(resetForm) }}
                {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Reset</button>
    {{ form_end(resetForm) }}
{% endblock %}
